.game {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  height: 100%;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
}
.scoreBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40px;
  padding: 1rem;
}
.pokemon-design {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.title-content {
  position: absolute;
  bottom: 0;
}
.titles {
  display: grid;
  grid-template-columns: 1fr 50px;
  justify-items: center;
  align-items: center;
  padding-left: 1em;
}
.pokeball {
  max-width: 35px;
}
.pokemon-logo {
  max-width: 300px;
}
.game-title {
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 6px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 9px;
}

.start {
  padding: 2rem;
}
.options li {
  padding-left: 20%;
}
.start {
  display: grid;
  grid-template-columns: 1fr;
}
.selection-button {
  animation: show 3s normal;
  padding: 1rem;
}
.selection-button:focus,
.selection-button:active {
  outline: 0;
}

.selection-button:hover::before,
.selection-button:focus::before,
.selection-button:visited::after {
  content: "";
  position: absolute;
  left: -1px;
  width: 2px;
  height: 2px;
  font-size: 2px;
  color: #181010;
  box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
    2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010,
    3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010,
    3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
    2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010,
    2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
}

.rotate {
  animation: rotation 5s infinite linear;
}

.line-1 {
  position: relative;
  padding: 1rem 0;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
.anim-typewriter {
  animation: typewriter 1s steps(40) 1s 1 normal both;
}
.cursor {
  font-size: 28px;
  font-weight: bolder;
  animation: blinkTextCursor 600ms infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes show {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes blinkTextCursor {
  from {
    color: rgba(0, 0, 0, 0.75);
  }
  to {
    color: rgba(255, 255, 255, 0.75);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
